<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsic</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">My Mix<span class="sr-only">(current)</span></a>
        </li>
        <li><a [routerLink]="'/search'">Search for Music</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/Fraisin/Newsic"
          >
            <img src="../../assets/githubLogo.png" width="20" height="20" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
