.artistSongButton {
  background-color: #009871;
}
.entityContainer {
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.entityNameContainer {
  text-align: center;
  overflow: scroll;
  overflow-wrap: break-word;
  background-color: #2a2a2a;
}
.genreButton {
  background-color: #016148;
}
.mixContainer {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.panelImage {
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
}
.siteName {
  color: #fcfbe3;
}
.jumbotron {
  text-align: center;
}
.welcomeWell {
  text-align: center;
  background-color: #2a2a2a;
}
/* Mobile Styles */
@media only screen and (max-width: 419px) {
  .desc {
    font-size: 1.2em;
  }
  .entityCard {
    width: 150px;
    height: 250px;
  }
  .entityNameContainer {
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .entityNameContainer > h4 {
    font-size: 1em;
  }
  .instructionWell {
    margin-top: -5%;
  }
  .genreBtns {
    margin-top: 5%;
  }
  .generateButton {
    margin-top: 3%;
    margin-bottom: 7.5%;
  }
  .genreSearch {
    width: 60%;
  }
  .genreWell {
    margin-top: 5%;
  }
  .panelGenreImage,
  .panelImage {
    width: 75px;
    height: 75px;
  }
  .panelImage {
    margin-bottom: 7.5%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 420px) and (max-width: 960px) {
  .siteName {
    color: red;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .siteName {
    color: green;
  }
}

/* CSS for album flipping animation, inspired by https://codepen.io/montillon/pen/xExpPB */
.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  margin-left: auto;
  margin-right: auto;
}
.flipper {
  transform-style: preserve-3d;
}
.front,
.back {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(-180deg);
  line-height: 1.4em;
  position: relative;
}
.back::before {
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}
.vertical.flip-container #backContainer {
  position: relative;
}
.vertical .back {
  transform: rotateX(180deg);
}
.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
}
.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
}
/* CSS for zooming on Hover, inspired by https://codepen.io/wifeo/pen/qzwkb*/
.zoomOnHover {
  display: inline-block;
  border: 0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.zoomOnHover:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
