<div class="jumbotron">
  <div class="well well-lg welcomeWell">
    <h1>Welcome to <span class="siteName">MusicDex</span>!</h1>
  </div>
  <hr />
  <h6 class="desc">
    Find tons of new songs fine-tuned to your taste.
  </h6>
</div>
<div class="well well-lg instructionWell">
  <h6>
    Simply begin by pressing one of the buttons below to add an artist, song or
    genre to your music 'mixture'.
  </h6>
  <h6>
    Your mixture can have a maximum of 5 items. Once you feel satisfied with
    your choices, press the big button and start listening!
  </h6>
</div>
<div class="btn-group btn-group-justified">
  <a href="search" class="btn btn-default artistSongButton">Artist/Song</a>
  <a class="btn btn-default genreButton" (click)="toggleGenreSearchbar()"
    >Genre</a
  >
</div>
<!-- DISPLAYING GENRE SEARCHBAR -->
<div *ngIf="showGenreSearch">
  <div class="well genreWell">
    <h6>Please select a genre below.</h6>
    <ngx-select-dropdown
      tabindex="0"
      [multiple]="false"
      [(ngModel)]="singleSelect"
      [config]="config"
      [options]="options"
    ></ngx-select-dropdown>
    <div class="btn-group genreBtns">
      <a class="btn btn-primary btn-sm addGenreBtn">Add Genre</a>
      <a
        class="btn btn-default btn-sm"
        id="cancel"
        (click)="hideGenreSearchbar()"
        >Cancel</a
      >
    </div>
  </div>
</div>
<!-- Container that holds the items the user adds to their 'mix' -->
<div class="mixContainer">
  <div *ngFor="let entity of userMix">
    <!-- IF USER ADDS AN ARTIST -->
    <div *ngIf="entity.type == 'artist'">
      <div class="panel panel-success entityCard">
        <div class="panel-heading">
          <h3 class="panel-title">Artist</h3>
        </div>
        <div class="panel-body entityContainer">
          <img
            class="panelImage"
            src="../assets/genre.png"
            alt="Genre Flat Image"
          />
          <div class="entityNameContainer">
            <h4>
              {{ entity.name }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- IF USER ADDS A TRACK -->
    <div *ngIf="entity.type == 'track'">
      <div class="panel panel-warning entityCard">
        <div class="panel-heading">
          <h3 class="panel-title">Track</h3>
        </div>
        <div class="panel-body entityContainer">
          <img
            class="panelImage"
            src="../assets/genre.png"
            alt="Genre Flat Image"
          />
          <div class="entityNameContainer">
            <h4>{{ entity.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- IF USER ADDS A GENRE -->
    <div *ngIf="entity.type == 'genre'">
      <div class="panel panel-danger entityCard">
        <div class="panel-heading">
          <h3 class="panel-title">Genre</h3>
        </div>
        <div class="panel-body entityContainer">
          <img
            class="panelGenreImage"
            src="../assets/genre.png"
            alt="Genre Flat Image"
          />
          <div class="entityNameContainer">
            <h4>{{ entity.id }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BIG BUTTON AT THE BOTTOM THAT CREATES PLAYLIST -->
<a href="#" class="btn btn-success btn-lg btn-block generateButton"
  >MAKE ME A MIX!</a
>
