<div *ngIf="album">
  <div id="albumContainer">
    <div id="albumHeadingContainer">
      <h1 class="albumName">{{ album.name }}</h1>
    </div>
    <br />
    <img
      class="albumCover"
      src="{{ album.images[0].url }}"
      alt="Album Cover Art"
    />
    <a href="artist/{{ artistID }}"
      ><h3 id="viewArtist">View Artist's Page</h3></a
    >
  </div>
  <div class="label">
    <h2 class="labelHeading">Information</h2>
    <img class="labelImage" src="../assets/info.svg" alt="Info Symbol" />
  </div>
  <div class="infoBlock well">
    <div class="popularity hideMobile">
      <p class="text-warning">Popularity</p>
      <div id="popularityChart" class="donut-size">
        <div class="pie-wrapper">
          <span class="popularityLabel">
            <span class="num">{{ album.popularity }}</span>
          </span>
          {{ updateDonutChart("#popularityChart", album.popularity) }}
          <div class="pie">
            <div class="left-side half-circle defaultPopularityColour"></div>
            <div class="right-side half-circle defaultPopularityColour"></div>
          </div>
          <div class="shadow"></div>
        </div>
      </div>
    </div>
    <div class="tableWrapper">
      <table>
        <tbody>
          <tr>
            <td id="artistCell">
              <span>Released By</span>
              <h3>{{ album.artists[0].name }}</h3>
            </td>
            <td>
              <span>Released On</span>
              <h3>{{ album.release_date }}</h3>
            </td>
            <td>
              <span>Duration</span>
              <h3>{{ albumDuration }}</h3>
            </td>
          </tr>
          <tr>
            <td id="numOfTracksCell">
              <span># of Tracks</span>
              <h3>{{ album.total_tracks }}</h3>
            </td>
            <td>
              <span>Label</span>
              <h4>{{ album.label }}</h4>
            </td>
            <td id="copyrightCell">
              <span>Copyright</span>
              <h5>{{ album.copyrights[0].text }}</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="label">
    <h2 class="labelHeading">Tracks</h2>
    <img class="labelImage" src="../assets/note.svg" alt="Music Note" />
  </div>
  <div id="tracksContainer">
    <div *ngFor="let track of tracks; let i = index">
      <ul>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <div>
            <div class="trackBlock well">
              <img
                class="albumCoverInTrackBlock"
                src="{{ album.images[0].url }}"
                alt="Album Cover Art"
              />
              <div class="trackInfoContainer">
                <div class="trackInfoWrapper">
                  <h2 class="trackName">{{ track.name }}</h2>
                  <h3 class="trackDuration">
                    {{ msToSongTime(track.duration_ms) }}
                  </h3>
                </div>
              </div>
              <div class="popularity hideMobile">
                <p class="text-warning">Popularity</p>
                <div id="{{ 'popularityChart' + i }}" class="donut-size">
                  <div class="pie-wrapper">
                    <span class="popularityLabel">
                      <span class="num">
                        {{ allTracksInfo[i]?.popularity }}
                      </span>
                    </span>
                    {{
                      updateDonutChart(
                        "#popularityChart" + i,
                        allTracksInfo[i]?.popularity
                      )
                    }}
                    <div class="pie">
                      <div
                        class="left-side half-circle defaultPopularityColour"
                      ></div>
                      <div
                        class="right-side half-circle defaultPopularityColour"
                      ></div>
                    </div>
                    <div class="shadow"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="accordionExpansion">
            <div class="audioFeatureContainer">
              <div
                *ngFor="
                  let audioInfo of allTracksAudioFeatures[i] | keyvalue;
                  index as j
                "
              >
                <div class="audioFeatureCircle">
                  <p class="featureHeading">
                    {{ audioInfo.key }}
                  </p>
                  <div
                    id="{{ 'audioFeatureChart' + audioInfo.key + i }}"
                    class="donut-size"
                  >
                    <div class="pie-wrapper">
                      <span class="popularityLabel">
                        <span class="num">
                          {{ audioInfo.value * 100 }}
                        </span>
                      </span>
                      {{
                        updateDonutChart(
                          "#audioFeatureChart" + audioInfo.key + i,
                          audioInfo.value * 100
                        )
                      }}
                      <div class="pie">
                        <div
                          class="left-side half-circle {{ 'circle' + j }}"
                        ></div>
                        <div
                          class="right-side half-circle {{ 'circle' + j }}"
                        ></div>
                      </div>
                      <div class="shadow"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
