.artist-songs {
  margin-top: 50px;
  height: 320px;
}
.artistPhoto {
  float: left;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
.popularSongJumbo {
  height: 320px;
  float: right;
  width: 70%;
  position: relative;
}
.popularLabel {
  position: absolute;
  top: 10px;
  left: 30px;
}
.popularLabelText {
  color: #f5d5ba;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .artistName {
    color: red;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .artistName {
    color: pink;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .artistName {
    color: green;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/*
.artistName {
  color: whitesmoke;
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
*/
