#albumsContainer {
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.albumCover {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.5%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
}
#albumImage {
  width: 25%;
  margin-left: 5%;
  float: right;
}
#albumHeading {
  float: left;
  margin: auto;
}
#albumName {
  color: white;
  position: absolute;
  font-size: 2em;
  line-height: 1em;
}
#albumLabel {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 15%;
}
.artistContainer {
  margin-top: 5%;
  height: 320px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.artistName {
  color: whitesmoke;
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.artistPhoto {
  float: left;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
#backContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#carouselArtists {
  margin-bottom: 5%;
  height: 100%;
}
.panel {
  margin-top: 10%;
  margin-bottom: 10%;
  min-height: 360px;
  width: 90%;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
}

.popularSongJumbo {
  margin-left: 5%;
  width: 80%;
  height: 100%;
}
.progress {
  border-radius: 0;
  overflow: visible;
}
.progress-bar {
  background: rgb(23, 44, 60);
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
#progress-bar0 {
  background-color: #663399;
}
#progress-bar1 {
  background-color: #007bff;
}
#progress-bar2 {
  background-color: #e74c3c;
}
#progress-bar3 {
  background-color: #f39c12;
}
#progress-bar4 {
  background-color: #28a745;
}
#similarArtistHeading {
  float: left;
  margin: auto;
}
#similarArtistImage {
  width: 20%;
  margin-left: 5%;
  float: right;
}
#similarArtistPhoto {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
}
#similarArtistLabel {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 25%;
}
#similarArtistFollowersContainer {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#similarArtistFollowersNumber {
  margin-top: -4%;
  color: white;
}
#relatedArtistContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* CSS for album flipping animation, inspired by https://codepen.io/montillon/pen/xExpPB */
.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 320px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.5%;
}
.flipper {
  transform-style: preserve-3d;
}
.front,
.back {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(-180deg);
  line-height: 1.4em;
  position: relative;
}
.back::before {
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}
.vertical.flip-container #backContainer {
  position: relative;
}
.vertical .back {
  transform: rotateX(180deg);
}
.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
}
.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
}

.zoom_on_hover {
  display: inline-block;
  border: 0;
  width: 196px;
  height: 210px;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.zoom_on_hover:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}
