<div *ngIf="artist">
  <div class="artistHeadingContainer">
    <h1 class="artistName">
      {{ artist.name }}
    </h1>
  </div>
  <div class="artistContainer">
    <div class="btnPhotoWrapper">
      <a
        class="btn btn-default btn-lg btn-block addBtn"
        (click)="addArtistToUserMix()"
        ><h4>Add to Mix</h4></a
      >
      <img
        class="artistPhoto"
        src="{{ artist.images[0].url }}"
        alt="Illustration of Artist"
      />
    </div>
    <!-- POPULAR SONGS -->
    <div class="jumbotron popularSongJumbo">
      <div class="popularHeadingWrapper">
        <h5>Popular Songs</h5>
      </div>
      <div *ngFor="let track of topTracks; index as i">
        <div class="barWrapper">
          <span class="songText">{{ track.name }}</span>
          <div class="progress">
            <div class="progress-bar" id="{{ 'progress-bar' + i }}">
              {{ displayTrack("#progress-bar" + i, track.popularity) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ALBUMS -->
  <div class="labelWrapper">
    <h2 class="labelHeading">Albums</h2>
    <img
      class="labelImage"
      src="../assets/album.svg"
      alt="Flat Icon of Album"
    />
  </div>
  <div id="albumsContainer">
    <div *ngFor="let album of albums">
      <a href="album/{{ album.id }}">
        <div
          class="flip-container"
          ontouchstart="this.classList.toggle('hover');"
        >
          <div class="flipper">
            <div class="front">
              <img
                class="albumCover"
                src="{{ album.images[0].url }}"
                alt="Album Cover"
              />
            </div>
            <div class="back">
              <div id="backContainer">
                <p id="albumName">{{ album.name }}</p>
                <img
                  class="albumCover"
                  src="{{ album.images[1].url }}"
                  alt="Album Cover"
                />
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- SIMILAR ARTISTS -->
  <div class="labelWrapper">
    <h2 class="labelHeading">Similar Artists</h2>
    <img
      class="labelImage"
      src="../assets/artist.svg"
      alt="Flat Icon for Similar Artist"
    />
  </div>
  <div id="carouselArtists">
    <owl-carousel-o [options]="customOptions" id="owlCarousel">
      <div *ngFor="let relatedArtist of relatedArtists; index as i">
        <ng-template carouselSlide>
          <a href="/artist/{{ relatedArtist.id }}">
            <div class="panel panel-success zoomOnHover">
              <div class="panel-heading">
                <h3 class="panel-title similarArtistName">
                  {{ relatedArtist.name }}
                </h3>
              </div>
              <div class="panel-body" id="relatedArtistContainer">
                <img
                  id="similarArtistPhoto"
                  src="{{ relatedArtist.images[0].url }}"
                  alt="Photo for Related Artist"
                />
                <div id="similarArtistFollowersContainer">
                  <h5 class="followersLabel">Followers:</h5>
                  <h2 id="similarArtistFollowersNumber">
                    {{ relatedArtist.followers.total.toLocaleString() }}
                  </h2>
                </div>
              </div>
            </div>
          </a>
        </ng-template>
      </div>
    </owl-carousel-o>
  </div>
</div>
