.frontPageTitle {
  font-size: 4em;
}

.frontPageDesc {
  font-size: 1.4em;
}

.frontPageImage {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleInDesc {
  color: #f39c12;
}

.jumbotron {
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  display: flex;
  flex-direction: row;
}
