<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/3/darkly/bootstrap.min.css"
      crossorigin="anonymous"
    />

    <title>MusicDex</title>
  </head>
  <body>
    <!-- Start of Jumbotron -->
    <div class="jumbotron">
      <h1 class="frontPageTitle">MusicDex</h1>
      <p class="frontPageDesc">
        Welcome to
        <span class="titleInDesc">MusicDex!</span>
        Simply begin by typing the name of an artist below.
      </p>
      <hr class="jumboDivider" />

      <div class="searchbar">
        <!-- SEARCHBAR -->
        <input
          class="form-control"
          type="text"
          [formControl]="searchString"
          placeholder="Search for an artist"
        />
        <button type="button" class="btn btn-warning">Search</button>
      </div>
    </div>
    <!-- End of Jumbotron -->

    <div *ngIf="emptySearch">
      <img
        class="frontPageImage"
        src="../assets/music.svg"
        alt="Illustration of Person Listening to Music"
      />
    </div>

    <div *ngIf="!emptySearch && searchResults">
      <h3 class="text-warning">Search Results:</h3>
      <br />
      <div *ngIf="!searchResults.length > 0">
        Sorry, we couldn't find an artist with that name.
      </div>
      <div *ngFor="let res of searchResults">
        <div *ngIf="res.followers.total > 1000" class="row">
          <div class="col-md-12">
            <div class="artistBlock well">
              <h4>
                <a href="/artist/{{ res.id }}">{{ res.name }}</a>
              </h4>
              <div class="artistGenres">
                <p class="text-warning">Genres:</p>
                <span class="genreBadges" *ngFor="let genre of res.genres">
                  {{ genre }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
