.artistBlock {
  position: relative;
}
.artistContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.artistGenres > p {
  display: inline;
}
/* Badge colours for the genres */
.badge0 {
  background-color: #663399;
}
.badge1 {
  background-color: #007bff;
}
.badge2 {
  background-color: #e74c3c;
}
.badge3 {
  background-color: #f39c12;
}
.badge4 {
  background-color: #28a745;
}
.badge5 {
  background-color: #17a2b8;
}
.followers {
  padding-top: 7.5px;
}
.followers > p {
  display: inline;
}
.followerLabel {
  color: #c6b3e3;
  margin-right: 10px;
}
.frontPageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.genreBadges {
  margin-left: 10px;
  overflow: auto;
}
.genreText {
  background-color: #b1a0ca;
}
.instructionWell {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.jumbotron {
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.noGenreMessage {
  margin-left: 10px;
}
.noResultImage {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.popularity {
  text-align: center;
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 50%;
  min-width: 10%;
  transform: translateY(-50%);
}
.popularityLabel {
  color: #c6b3e3;
}
.searchbar {
  display: flex;
  flex-direction: row;
}
.searchHeading {
  color: #c9b2ed;
}
.searchJumbo {
  background-color: #3a2e4a;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
}
.searchWell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.titleInDesc {
  color: #c9b2ed;
}
/* CSS for the donut status bar of an artist's popularity.
Inspired from peavy's work @ https://codepen.io/peavy/pen/NzYVjw */
*,
*:before,
*:after {
  box-sizing: border-box;
}
#donut {
  display: block;
  margin: 0px auto;
  color: #009871;
  font-size: 20px;
  text-align: center;
}
.donut-size {
  font-size: 5em;
  display: inline-block;
}
.pie-wrapper {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0px auto;
}
.pie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}
.half-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0.1em solid hsl(168, 76%, 42%);
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}
.right-side {
  transform: rotate(0deg);
}
.label {
  position: absolute;
  top: 0.52em;
  right: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  display: block;
  background: none;
  border-radius: 50%;
  font-size: 0.25em;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}
.smaller {
  padding-bottom: 20px;
  font-size: 0.45em;
  vertical-align: super;
}
.shadow {
  width: 100%;
  height: 100%;
  border: 0.1em solid;
  border-radius: 50%;
}
/* Mobile Styles */
@media only screen and (max-width: 419px) {
  .artistGenres {
    width: 72%;
  }
  .artistExample {
    width: 105%;
  }
  .frontPageDesc {
    font-size: 1em;
  }
  .frontPageTitle {
    font-size: 2em;
  }
  .frontPageImage {
    width: 50%;
  }
  .instructionWell > h6 {
    font-size: 0.8em;
  }
  .popularity {
    right: 3%;
  }
  .searchHeading {
    font-size: 1.2em;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 420px) and (max-width: 960px) {
  .artistGenres {
    width: 82%;
  }
  .artistExample {
    width: 105%;
  }
  .frontPageDesc {
    font-size: 1.2em;
  }
  .frontPageImage {
    width: 50%;
  }
  .frontPageTitle {
    font-size: 3em;
  }
  .instructionWell > h6 {
    font-size: 1em;
  }
  .popularity {
    right: 2%;
  }
  .searchHeading {
    font-size: 1.4em;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .artistGenres {
    width: 85%;
  }
  .artistExample {
    width: 80%;
  }
  .frontPageDesc {
    font-size: 1.4em;
  }
  .frontPageImage {
    width: 55%;
  }
  .frontPageTitle {
    font-size: 4em;
  }
  .instructionWell > h6 {
    font-size: 1.2em;
  }
  .popularity {
    right: 1%;
  }
  .searchHeading {
    font-size: 1.6em;
  }
}
